<form (ngSubmit)="saveCar()" #save="ngForm">
  <div class="row">
    <div class="col-6">
      <h4 align="center">Общие параметры:</h4>
      <div class="form-group">
        <label for="brand" class="col-form-label">Марка</label>
        <select class="form-control" id="brand" name="brand" [(ngModel)]="car.generalParameters.brand"
                (ngModelChange)="onChangeBrand(car.generalParameters.brand)" required #brand="ngModel">
          <option *ngFor="let brand of brands" [ngValue]="brand.name">{{brand.name}}</option>
        </select>
        <div [hidden]="brand.valid || brand.pristine" class="alert alert-danger">
          <div [hidden]="!brand.hasError('required')">Обязательное поле</div>
        </div>
      </div>
      <div class="form-group">
        <label for="model" class="col-form-label">Модель</label>
        <select class="form-control" id="model" name="model" [(ngModel)]="car.generalParameters.model" required
                #model="ngModel">
          <option *ngFor="let model of models" [ngValue]="model.name">{{model.name}}</option>
        </select>
        <div [hidden]="model.valid || model.pristine" class="alert alert-danger">
          <div [hidden]="!model.hasError('required')">Обязательное поле</div>
        </div>
      </div>
      <div class="form-group">
        <label for="yearOfIssue" class="col-form-label">Год выпуска</label>
        <select class="form-control" id="yearOfIssue" name="yearOfIssue" [(ngModel)]="car.generalParameters.yearOfIssue"
                required #yearOfIssue="ngModel">
          <option *ngFor="let year of years">{{year}}</option>
        </select>
        <div [hidden]="yearOfIssue.valid || yearOfIssue.pristine" class="alert alert-danger">
          <div [hidden]="!yearOfIssue.hasError('required')">Обязательное поле</div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h4 align="center">Текущее состояние:</h4>
      <div class="form-group">
        <label for="damageDescription" class="col-form-label">Повреждения</label>
        <input type="text" class="form-control" id="damageDescription" name="damageDescription"
               [(ngModel)]="car.currentCondition.damageDescription">
      </div>
      <div class="form-group">
        <label for="mileage" class="col-form-label">Пробег</label>
        <input type="text" class="form-control" id="mileage" name="mileage" [(ngModel)]="car.currentCondition.mileage"
               pattern="[0-9]{0,10}" #mileage="ngModel">
        <div [hidden]="mileage.valid || mileage.pristine"
             class="alert alert-danger">
          <div [hidden]="!mileage.hasError('pattern')">Только цифры. Максимум 10</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h4 align="center">Технические параметры:</h4>
  <div class="row">
    <div class="col-6">

      <div class="form-group">
        <label for="gearbox" class="col-form-label">Коробка передач:</label>
        <select class="form-control" id="gearbox" name="gearbox" [(ngModel)]="car.technicalParameters.gearbox">
          <option *ngFor="let gearbox of gearboxes" [ngValue]="gearbox.name">{{gearbox.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="bodyType" class="col-form-label">Тип кузова:</label>
        <select class="form-control" id="bodyType" name="bodyType" [(ngModel)]="car.technicalParameters.bodyType">
          <option *ngFor="let bodyType of bodyTypes" [ngValue]="bodyType.name">{{bodyType.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="seatNumber" class="col-form-label">Кол-во мест:</label>
        <input type="text" class="form-control" id="seatNumber" name="seatNumber"
               pattern="[0-9]{0,2}" #seatNumber="ngModel"
               [(ngModel)]="car.technicalParameters.seatNumber">
        <div [hidden]="seatNumber.valid || seatNumber.pristine"
             class="alert alert-danger">
          <div [hidden]="!seatNumber.hasError('pattern')">Только цифры. Максимум 2</div>
        </div>
      </div>
      <div class="form-group">
        <label for="doorNumber" class="col-form-label">Кол-во дверей:</label>
        <input type="text" class="form-control" id="doorNumber" name="doorNumber"
               pattern="[0-9]{0,2}" #doorNumber="ngModel"
               [(ngModel)]="car.technicalParameters.doorNumber">
        <div [hidden]="doorNumber.valid || doorNumber.pristine"
             class="alert alert-danger">
          <div [hidden]="!doorNumber.hasError('pattern')">Только цифры. Максимум 2</div>
        </div>
      </div>
      <div class="form-group">
        <label for="fuelType" class="col-form-label">Тип топлива:</label>
        <select class="form-control" id="fuelType" name="fuelType" [(ngModel)]="car.technicalParameters.fuelType">
          <option *ngFor="let fuelType of fuelTypes" [ngValue]="fuelType.name">{{fuelType.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fuelConsumption" class="col-form-label">Расход топлива на 100 км. (смешанный цикл):</label>
        <input type="text" class="form-control" id="fuelConsumption" name="fuelConsumption"
               [(ngModel)]="car.technicalParameters.fuelConsumption"
               pattern="[0-9]+\.{0,1}[0-9]*" #fuelConsumption="ngModel">
        <div [hidden]="fuelConsumption.valid || fuelConsumption.pristine"
             class="alert alert-danger">
          <div [hidden]="!fuelConsumption.hasError('pattern')">Десятичное число</div>
        </div>
      </div>
      <div class="form-group">
        <label for="driveUnit" class="col-form-label">Привод:</label>
        <select class="form-control" id="driveUnit" name="driveUnit" [(ngModel)]="car.technicalParameters.driveUnit">
          <option *ngFor="let driveUnit of driveUnits" [ngValue]="driveUnit.name">{{driveUnit.name}}</option>
        </select>
      </div>

    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="tiresSeason" class="col-form-label">Сезон шин:</label>
        <select class="form-control" id="tiresSeason" name="tiresSeason"
                [(ngModel)]="car.technicalParameters.tiresSeason">
          <option *ngFor="let tiresSeason of tiresSeasons" [ngValue]="tiresSeason.name">{{tiresSeason.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="interiorMaterial" class="col-form-label">Материал салона:</label>
        <select class="form-control" id="interiorMaterial" name="interiorMaterial"
                [(ngModel)]="car.technicalParameters.interiorMaterial">
          <option *ngFor="let interiorMaterial of interiorMaterials" [ngValue]="interiorMaterial.name">
            {{interiorMaterial.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="color" class="col-form-label">Цвет:</label>
        <select class="form-control" id="color" name="color" [(ngModel)]="car.technicalParameters.color">
          <option *ngFor="let color of colors" [ngValue]="color.name">{{color.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="vin" class="col-form-label">VIN:</label>
        <input type="text" class="form-control" id="vin" name="vin" [(ngModel)]="car.technicalParameters.vin">
      </div>
      <div class="form-group">
        <label for="govNumber" class="col-form-label">Гос. номер:</label>
        <input type="text" class="form-control" id="govNumber" name="govNumber"
               [(ngModel)]="car.technicalParameters.govNumber">
      </div>
      <div class="form-group">
        <label for="stsFormNumber" class="col-form-label">Номер бланка СТС:</label>
        <input type="text" class="form-control" id="stsFormNumber" name="stsFormNumber"
               [(ngModel)]="car.technicalParameters.stsFormNumber">
      </div>
    </div>
  </div>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
  <button type="submit" class="btn btn-success btn-block" [disabled]="!save.form.valid">Добавить</button>
</form>
