<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-outline-primary"
            (click)="isCollapsedConfirmProfile = !isCollapsedConfirmProfile" [attr.aria-expanded]="!isCollapsed"
            aria-controls="confirmProfile" style="width: 100%">Профили на подтверждение
    </button>
  </div>
</div>
<div id="confirmProfile" [ngbCollapse]="isCollapsedConfirmProfile">
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th class="text-center">Id пользователя</th>
          <th class="text-center">Логин</th>
          <th class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let profile of profiles.content">
          <td>{{ profile.id }}</td>
          <td>{{ profile.login }}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="showProfile(profile, contentProfile)">Посмотреть
            </button>
            <button type="button" class="btn btn-success" (click)="showConfirmProfile(profile, contentConfirm)">Да
            </button>
            <button type="button" class="btn btn-danger" (click)="showNotConfirmProfile(profile, contentNotConfirm)">Нет
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="profiles.totalElements" [(page)]="pageParameterConfirmProfile.page"
                      [pageSize]="profiles.size" [maxSize]="5" [rotate]="true"
                      (pageChange)="getProfilesForConfirmation()" *ngIf="profiles.content.length > 0"></ngb-pagination>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsedConfirmations = !isCollapsedConfirmations"
            [attr.aria-expanded]="!isCollapsedConfirmations" aria-controls="confirmation" style="width: 100%">
      История подтверждений
    </button>
  </div>
</div>
<div id="confirmation" [ngbCollapse]="isCollapsedConfirmations">
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th class="text-center">Id
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.id, direction.asc)"
                    *ngIf="pageParameterConfirmation.sort != sort.id ||
                     pageParameterConfirmation.direction != direction.asc"
                    data-placement="bottom" title="По возрастанию id">&#x25B2;
            </button>
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.id, direction.desc)"
                    *ngIf="pageParameterConfirmation.sort != sort.id ||
                    pageParameterConfirmation.direction != direction.desc"
                    data-placement="bottom" title="По убыванию id">&#x25BC;
            </button>
          </th>
          <th class="text-center">Id пользователя
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.profileId, direction.asc)"
                    *ngIf="pageParameterConfirmation.sort != sort.profileId ||
                     pageParameterConfirmation.direction != direction.asc"
                    data-placement="bottom" title="По возрастанию profileId">&#x25B2;
            </button>
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.profileId, direction.desc)"
                    *ngIf="pageParameterConfirmation.sort != sort.profileId ||
                    pageParameterConfirmation.direction != direction.desc"
                    data-placement="bottom" title="По убыванию profileId">&#x25BC;
            </button>
          </th>
          <th class="text-center">Логин
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.profileLogin, direction.asc)"
                    *ngIf="pageParameterConfirmation.sort != sort.profileLogin ||
                     pageParameterConfirmation.direction != direction.asc"
                    data-placement="bottom" title="По возрастанию profileLogin">&#x25B2;
            </button>
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.profileLogin, direction.desc)"
                    *ngIf="pageParameterConfirmation.sort != sort.profileLogin ||
                    pageParameterConfirmation.direction != direction.desc"
                    data-placement="bottom" title="По убыванию profileLogin">&#x25BC;
            </button>
          </th>
          <th class="text-center">Статус
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.confirmProfile, direction.asc)"
                    *ngIf="pageParameterConfirmation.sort != sort.confirmProfile ||
                     pageParameterConfirmation.direction != direction.asc"
                    data-placement="bottom" title="По возрастанию confirmProfile">&#x25B2;
            </button>
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.confirmProfile, direction.desc)"
                    *ngIf="pageParameterConfirmation.sort != sort.confirmProfile ||
                    pageParameterConfirmation.direction != direction.desc"
                    data-placement="bottom" title="По убыванию confirmProfile">&#x25BC;
            </button>
          </th>
          <th class="text-center">Дата
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.dateConfirm, direction.asc)"
                    *ngIf="pageParameterConfirmation.sort != sort.dateConfirm ||
                     pageParameterConfirmation.direction != direction.asc"
                    data-placement="bottom" title="По возрастанию dateConfirm">&#x25B2;
            </button>
            <button class="btn btn-sm btn-light" (click)="sortConfirmation(sort.dateConfirm, direction.desc)"
                    *ngIf="pageParameterConfirmation.sort != sort.dateConfirm ||
                    pageParameterConfirmation.direction != direction.desc"
                    data-placement="bottom" title="По убыванию dateConfirm">&#x25BC;
            </button>
          </th>
          <th class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let confirmation of confirmations.content">
          <td>{{ confirmation.id }}</td>
          <td>{{ confirmation.profileId }}</td>
          <td>{{ confirmation.profileLogin }}</td>
          <td>{{ getStatus(confirmation.confirmProfile) }}</td>
          <td>{{ confirmation.dateConfirm |date:'hh:mm dd-MM-yyyy'}}</td>
          <td align="center" width="20%">
            <button type="button" class="btn btn-primary"
                    (click)="showConfirmation(confirmation, contentConfirmation)">Посмотреть
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="confirmations.totalElements" [(page)]="pageParameterConfirmation.page"
                      [pageSize]="confirmations.size" [maxSize]="5" [rotate]="true"
                      (pageChange)="getConfirmations()" *ngIf="confirmations.content.length > 0"></ngb-pagination>
    </div>
  </div>
</div>


<ng-template #contentConfirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подвердить профиль?</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Нет</button>
    <button type="submit" class="btn btn-primary" (click)="confirmProfile()">Да</button>
  </div>
</ng-template>

<ng-template #contentNotConfirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Не подверждать профиль?</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Нет</button>
    <button type="submit" class="btn btn-primary" (click)="notConfirmProfile()">Да</button>
  </div>
</ng-template>

<ng-template #contentConfirmation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">История подтверждения</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-center">Общая информация</h5>
        <p><b>Id пользователя:</b> {{confirmation.profileId}}</p>
        <p><b>Логин:</b> {{confirmation.profileLogin}}</p>
        <p><b>Статус:</b> {{getStatus(confirmation.confirmProfile)}}</p>
        <p><b>Дата:</b> {{confirmation.dateConfirm | date:'hh:mm dd-MM-yyyy'}}</p>
        <h5 class="text-center">Водительское удостоверение</h5>
        <p><b>Серия и номер:</b> {{confirmation.driverLicenseSeriesAndNumber}}</p>
        <p><b>Категории:</b> {{confirmation.driverLicenseCategory}}</p>
        <img src="{{confirmation.driverLicenseFrontSideImageUrl}}" alt="Лицевая сторона" width="100%">
        <img src="{{confirmation.driverLicenseBackSideImageUrl}}" alt="Обратная сторона" width="100%">
      </div>
      <div class="col-md-6">
        <h5 class="text-center">Паспортные данные</h5>
        <p><b>Фамилия:</b> {{confirmation.passportLastName}}</p>
        <p><b>Имя:</b> {{confirmation.passportFirstName}}</p>
        <p><b>Отчество:</b> {{confirmation.passportMiddleName}}</p>
        <p><b>Серия и номер:</b> {{confirmation.passportSeriesAndNumber}}</p>
        <p><b>Личный номер:</b> {{confirmation.passportPersonalNumber}}</p>
        <p><b>Дата выдачи:</b> {{confirmation.passportDateOfIssue | date: 'yyyy-MM-dd'}}</p>
        <p><b>Место выдачи:</b> {{confirmation.passportPlaceOfIssue}}</p>
        <p><b>Срок действия:</b> {{confirmation.passportValidUntil | date: 'yyyy-MM-dd'}}</p>
        <img src="{{confirmation.passportPhotoUrl}}" alt="Страница с фото" width="100%">
        <img src="{{confirmation.passportRegistrationPhotoUrl}}" alt="Страница с пропиской" width="100%">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
  </div>
</ng-template>

<ng-template #contentProfile let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Профиль на подверждение</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-center">Общая информация</h5>
        <p><b>Id:</b> {{profile.id}}</p>
        <p><b>Логин:</b> {{profile.login}}</p>
        <h5 class="text-center">Водительское удостоверение</h5>
        <p><b>Серия и номер:</b> {{profile.driverLicenseResponse.seriesAndNumber}}</p>
        <p><b>Категории:</b> {{profile.driverLicenseResponse.category}}</p>
        <img src="{{profile.driverLicenseResponse.frontSideImageUrl}}" alt="Лицевая сторона" width="100%">
        <img src="{{profile.driverLicenseResponse.backSideImageUrl}}" alt="Обратная сторона" width="100%">
      </div>
      <div class="col-md-6">
        <h5 class="text-center">Паспортные данные</h5>
        <p><b>Фамилия:</b> {{profile.passportDataResponse.lastName}}</p>
        <p><b>Имя:</b> {{profile.passportDataResponse.firstName}}</p>
        <p><b>Отчество:</b> {{profile.passportDataResponse.middleName}}</p>
        <p><b>Серия и номер:</b> {{profile.passportDataResponse.seriesAndNumber}}</p>
        <p><b>Личный номер:</b> {{profile.passportDataResponse.personalNumber}}</p>
        <p><b>Дата выдачи:</b> {{profile.passportDataResponse.dateOfIssue | date: 'yyyy-MM-dd'}}</p>
        <p><b>Место выдачи:</b> {{profile.passportDataResponse.placeOfIssue}}</p>
        <p><b>Срок действия:</b> {{profile.passportDataResponse.validUntil | date: 'yyyy-MM-dd'}}</p>
        <img src="{{profile.passportDataResponse.photoUrl}}" alt="Страница с фото" width="100%">
        <img src="{{profile.passportDataResponse.registrationPhotoUrl}}" alt="Страница с пропиской" width="100%">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
  </div>
</ng-template>
