<h4 class="text-center">Сделки со мной</h4>
<div class="row" *ngIf="deals.content.length > 0">
  <div class="col-4">Начало бронирования
    <button class="btn btn-sm btn-light" (click)="sortDeal(sort.bookingStartTime, direction.asc)"
            *ngIf="pageParameter.sort != sort.bookingStartTime || pageParameter.direction != direction.asc"
            data-placement="bottom" title="По возрастанию">&#x25B2;
    </button>
    <button class="btn btn-sm btn-light" (click)="sortDeal(sort.bookingStartTime, direction.desc)"
            *ngIf="pageParameter.sort != sort.bookingStartTime || pageParameter.direction != direction.desc"
            data-placement="bottom" title="По убыванию">&#x25BC;
    </button>
  </div>
  <div class="col-4">Количество суток
    <button class="btn btn-sm btn-light" (click)="sortDeal(sort.daysForRent, direction.asc)"
            *ngIf="pageParameter.sort != sort.daysForRent || pageParameter.direction != direction.asc"
            data-placement="bottom" title="По возрастанию">&#x25B2;
    </button>
    <button class="btn btn-sm btn-light" (click)="sortDeal(sort.daysForRent, direction.desc)"
            *ngIf="pageParameter.sort != sort.daysForRent || pageParameter.direction != direction.desc"
            data-placement="bottom" title="По убыванию">&#x25BC;
    </button>
  </div>
  <div class="col-4">Цена
    <button class="btn btn-sm btn-light" (click)="sortDeal(sort.price, direction.asc)"
            *ngIf="pageParameter.sort != sort.price || pageParameter.direction != direction.asc"
            data-placement="bottom" title="По возрастанию">&#x25B2;
    </button>
    <button class="btn btn-sm btn-light" (click)="sortDeal(sort.price, direction.desc)"
            *ngIf="pageParameter.sort != sort.price || pageParameter.direction != direction.desc"
            data-placement="bottom" title="По убыванию">&#x25BC;
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12" *ngFor="let deal of deals.content">
    <div class="card" style="height: 100%" appHover>
      <div class="card-body">
        <div class="card-text"><b>Статус: </b>{{getStatus(deal.status)}}</div>
        <div class="card-text"><b>Начало бронирования: </b>{{deal.bookingStartTime | date: 'hh:mm:ss dd-MM-yyyy'}}</div>
        <div class="card-text" *ngIf="deal.rentalStartTime != null"><b>Начало аренды: </b>
          {{deal.rentalStartTime | date: 'hh:mm:ss dd-MM-yyyy'}}
        </div>
        <div class="card-text" *ngIf="deal.estimatedRentalEndTime != null"><b>Предполагаемое окончание аренды: </b>
          {{deal.estimatedRentalEndTime | date: 'hh:mm:ss dd-MM-yyyy'}}
        </div>
        <div class="card-text" *ngIf="deal.rentalEndTime != null"><b>Окончание аренды: </b>
          {{deal.rentalEndTime | date: 'hh:mm:ss dd-MM-yyyy'}}
        </div>
        <div class="card-text" *ngIf="deal.deposit"><b>Депозит: </b>{{deal.deposit}}</div>
        <div class="card-text"><b>Количество суток: </b>{{deal.daysForRent}}</div>
        <div class="card-text"><b>Цена: </b>{{deal.price}} BYN</div>
        <div class="card-text" *ngIf="isConfirmed(deal.owner)"><b>Владелец: </b>{{deal.owner.login}} &#9745;</div>
        <div class="card-text" *ngIf="!isConfirmed(deal.owner)"><b>Владелец: </b>{{deal.owner.login}} &#9746;</div>
        <div class="card-text" *ngIf="isConfirmed(deal.customer)"><b>Клиент: </b>{{deal.customer.login}} &#9745;
          👎{{deal.customer.countOfOverdueBooking}}
        </div>
        <div class="card-text" *ngIf="!isConfirmed(deal.customer)"><b>Клиент: </b>{{deal.customer.login}} &#9746;
          👎{{deal.customer.countOfOverdueBooking}}
        </div>
        <div class="card-text"><b>Машина: </b>
          <app-car-modal [car]="deal.ad.car"></app-car-modal>
        </div>
        <div class="card-text"><b>Кредитная карта: </b>{{deal.creditCard.firstName}} {{deal.creditCard.lastName}}
          {{deal.creditCard.number[0]}}{{deal.creditCard.number[1]}}************** {{deal.creditCard.validUntil}}
        </div>
      </div>
      <div class="card-footer" align="center">
        <button class="btn btn-primary" style="width: 100%" *ngIf="deal.status == dealStatus.booking[0]"
                (click)="showStartRental(deal, contentStartRental)">Начать аренду
        </button>
        <button class="btn btn-primary" style="width: 100%" *ngIf="deal.status == dealStatus.rentalStart[0]"
                (click)="showStopRental(deal, contentStopRental)">Закончить аренду
        </button>
      </div>
    </div>
  </div>
</div>

<ngb-pagination [collectionSize]="deals.totalElements" [(page)]="pageParameter.page" [pageSize]="deals.size"
                [maxSize]="4" [rotate]="true" (pageChange)="getDealsWithMe()"
                *ngIf="deals.content.length > 0"></ngb-pagination>

<ng-template #contentStartRental let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердите начало аренды</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="dealError">{{dealError}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="startRental()">Подтвердить</button>
  </div>
</ng-template>

<ng-template #contentStopRental let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердите окончание аренды</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="dealError">{{dealError}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="stopRental()">Подтвердить</button>
  </div>
</ng-template>
