<div class="row">
  <div class="col-md-6 col-sm-12" *ngFor="let deal of deals">
    <div class="card"  style="height: 100%">
      <img class="card-img-top" src="../../assets/images/placeholder-car.png" alt="Car image">
      <div class="card-body">
        <div class="card-text" *ngIf="deal.status == dealStatus.booking[0]"><b>Статус: </b>{{dealStatus.booking[1]}}
        </div>
        <div class="card-text" *ngIf="deal.status == dealStatus.cancelBooking[0]"><b>Статус: </b>{{dealStatus.cancelBooking[1]}}
        </div>
        <div class="card-text" *ngIf="deal.status == dealStatus.overdueBooking[0]"><b>Статус: </b>{{dealStatus.overdueBooking[1]}}
        </div>
        <div class="card-text" *ngIf="deal.status == dealStatus.rentalStart[0]"><b>Статус: </b>{{dealStatus.rentalStart[1]}}
        </div>
        <div class="card-text" *ngIf="deal.status == dealStatus.rentalEnd[0]"><b>Статус: </b>{{dealStatus.rentalEnd[1]}}
        </div>
        <div class="card-text"><b>Начало бронирования: </b>{{deal.bookingStartTime | date: 'hh:mm:ss dd-MM-yyyy'}}</div>
        <div class="card-text" *ngIf="deal.rentalStartTime != null"><b>Начало аренды: </b>{{deal.rentalStartTime | date: 'hh:mm:ss dd-MM-yyyy'}}</div>
        <div class="card-text" *ngIf="deal.estimatedRentalEndTime != null"><b>Предполагаемое окончание аренды: </b>{{deal.estimatedRentalEndTime |
          date: 'hh:mm:ss dd-MM-yyyy'}}
        </div>
        <div class="card-text" *ngIf="deal.rentalEndTime != null"><b>Окончание аренды: </b>{{deal.rentalEndTime | date: 'hh:mm:ss dd-MM-yyyy'}}</div>
        <div class="card-text" *ngIf="deal.deposit != null"><b>Депозит: </b>{{deal.deposit}}</div>
        <div class="card-text"><b>Количество суток: </b>{{deal.daysForRent}}</div>
        <div class="card-text"><b>Цена: </b>{{deal.price}} BYN</div>
        <div class="card-text"><b>Владелец: </b>{{deal.owner.login}}</div>
        <div class="card-text"><b>Клиент: </b>{{deal.customer.login}}</div>
        <div class="card-text"><b>Машина: </b>{{deal.ad.car.generalParameters.brand}}
          {{deal.ad.car.generalParameters.model}} {{deal.ad.car.generalParameters.yearOfIssue}}
        </div>
        <div class="card-text"><b>Кредитная карта: </b>{{deal.creditCard.firstName}} {{deal.creditCard.lastName}}
          {{deal.creditCard.number[0]}}{{deal.creditCard.number[1]}}************** {{deal.creditCard.validUntil}}
        </div>
      </div>
      <div class="card-footer" align="center">
        <button class="btn btn-primary" style="width: 100%" *ngIf="deal.status==dealStatus.booking[0]"
                (click)="showStartRental(deal, contentStartRental)">
          Начать аренду
        </button>
        <button class="btn btn-primary" style="width: 100%" *ngIf="deal.status==dealStatus.rentalStart[0]"
                (click)="showStopRental(deal, contentStopRental)">
          Закончить аренду
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #contentStartRental let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердите начало аренды</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="dealError">{{dealError}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="startRental()">Подтвердить</button>
  </div>
</ng-template>

<ng-template #contentStopRental let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердите окончание аренды</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="dealError">{{dealError}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="stopRental()">Подтвердить</button>
  </div>
</ng-template>
