<h4 class="text-center">
  Объявления
</h4>
<div class="row">
  <h5 *ngIf="!ads.length">Нет объявлений</h5>
  <div class="col-md-4 col-sm-6" *ngFor="let ad of ads">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/placeholder-car.png" alt="Car image">
      <div class="card-body">
        <div class="card-text"><b>Машина: </b>{{ad.car.generalParameters.brand}}
          {{ad.car.generalParameters.model}} {{ad.car.generalParameters.yearOfIssue}}
        </div>
        <div class="card-text"><b>Владелец: </b>{{ad.owner.email}}
          <div *ngIf="ad.owner.confirmProfile==confirm">Проверенный пользователь</div>
        </div>
        <div class="card-text"><b>Местоположение: </b>{{ad.carLocation}}</div>
        <div class="card-text"><b>Место возврата: </b>{{ad.returnPlace}}</div>
        <div class="card-text"><b>За час: </b>{{ad.costPerHour}}</div>
        <div class="card-text"><b>За день: </b>{{ad.costPerDay}}</div>
        <div class="card-text"><b>За 3 дня: </b>{{ad.costPer3Days}}</div>
      </div>
      <div class="card-footer" align="center">
        <button class="btn btn-primary" style="width: 100%" (click)="showCreateDeal(ad, contentCreateDeal)">Взять в
          аренду
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #contentCreateDeal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Оформление сделки</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="createDeal()" #create="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="dealError">{{dealError}}</div>

      <div class="form-group">
        <label for="hoursOfRent">Часы аренды:</label>
        <input type="number" class="form-control" id="hoursOfRent"
               required min="1" max="72"
               [(ngModel)]="newDeal.hoursOfRent" name="hoursOfRent"
               #hoursOfRent="ngModel">
        <div [hidden]="hoursOfRent.valid || hoursOfRent.pristine" class="alert alert-danger">
          <div [hidden]="!hoursOfRent.hasError('required')">Обязательное поле</div>
        </div>
      </div>
      <div class="form-group">
        <label for="creditCardId" class="col-form-label">Кредитная карта:</label>
        <select class="form-control" id="creditCardId" name="creditCardId" [(ngModel)]="newDeal.creditCardId"
                #creditCardId="ngModel" required>
          <option *ngFor="let creditCard of creditCards" [ngValue]="creditCard.id">{{creditCard.firstName}}
            {{creditCard.lastName}} {{creditCard.number}} {{creditCard.validUntil}}
          </option>
        </select>
        <div [hidden]="creditCardId.valid || creditCardId.pristine" class="alert alert-danger">
          <div [hidden]="!creditCardId.hasError('required')">Обязательное поле</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
      <button type="submit" class="btn btn-primary"
              [disabled]="!create.form.valid">
        Взять в аренду
      </button>
    </div>
  </form>
</ng-template>
