<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['general-parameters']" routerLinkActive="active">Общие параметры</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['technical-parameters']" routerLinkActive="active">Технические параметры</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['current-condition']" routerLinkActive="active">Текущее состояние</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
  <div class="card footer">
    <div align="right">
      <button type="button" class="btn btn-sm btn-danger" data-placement="bottom" title="Удалить"
              (click)="showDelete(content)">␡
      </button>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердите удаление</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
    <button type="submit" class="btn btn-primary" (click)="deleteCar()">Удалить</button>
  </div>
</ng-template>
