<h4 class="text-center">Паспортные данные</h4>
<hr>
<div class="row">
  <div class="col-5">
    <p><b>Фамилия: </b>{{passport.lastName}}</p>
    <p><b>Имя: </b>{{passport.firstName}}</p>
    <p><b>Отчество: </b>{{passport.middleName}}</p>
    <p><b>Серия и номер: </b>{{passport.seriesAndNumber}}</p>
  </div>
  <div class="col-5">
    <p><b>Личный номер: </b>{{passport.personalNumber}}</p>
    <p><b>Дата выдачи: </b>{{passport.dateOfIssue | date: 'yyyy-MM-dd'}}</p>
    <p><b>Место выдачи: </b>{{passport.placeOfIssue}}</p>
    <p><b>Срок действия: </b>{{passport.validUntil | date: 'yyyy-MM-dd'}}</p>
  </div>
  <div class="col-2" *ngIf="passport.id" align="right">
    <button type="button" class="btn-sm btn-primary" (click)="showEdit(content)"
            data-placement="bottom" title="Редактировать паспортные данные">✎
    </button>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Паспортные данные</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="updatePassport()" #updatePassportData="ngForm">
    <div class="modal-body">

      <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>

      <div class="row">
        <div class="col-6">

          <div class="form-group">
            <label for="lastName">Фамилия:</label>
            <input type="text" class="form-control" id="lastName" name="lastName"
                   [(ngModel)]="editedPassport.lastName"
                   required pattern="[А-яA-z-]{0,20}" #lastName="ngModel">
            <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
              <div [hidden]="!lastName.hasError('pattern')">Буквы, тире. Максимум 20</div>
              <div [hidden]="!lastName.hasError('required')">Обязательное поле</div>
            </div>
          </div>

          <div class="form-group">
            <label for="firstName">Имя:</label>
            <input type="text" class="form-control" id="firstName" name="firstName"
                   [(ngModel)]="editedPassport.firstName"
                   required pattern="[А-яA-z-]{0,20}" #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
              <div [hidden]="!firstName.hasError('pattern')">Буквы, тире. Максимум 20</div>
              <div [hidden]="!firstName.hasError('required')">Обязательное поле</div>
            </div>
          </div>

          <div class="form-group">
            <label for="middleName">Отчество:</label>
            <input type="text" id="middleName" name="middleName"
                   [(ngModel)]="editedPassport.middleName" class="form-control"
                   required pattern="[А-яA-z-]{0,20}" #middleName="ngModel">
            <div [hidden]="middleName.valid || middleName.pristine" class="alert alert-danger">
              <div [hidden]="!middleName.hasError('pattern')">Буквы, тире. Максимум 20</div>
              <div [hidden]="!middleName.hasError('required')">Обязательное поле</div>
            </div>
          </div>

          <div class="form-group">
            <label for="seriesAndNumber">Серия и номер:</label>
            <input type="text" id="seriesAndNumber" name="seriesAndNumber" [(ngModel)]="editedPassport.seriesAndNumber"
                   class="form-control" required pattern="[A-Z]{2}[0-9]{7}" #seriesAndNumber="ngModel">
            <div [hidden]="seriesAndNumber.valid || seriesAndNumber.pristine" class="alert alert-danger">
              <div [hidden]="!seriesAndNumber.hasError('pattern')">Неверный формат</div>
              <div [hidden]="!seriesAndNumber.hasError('required')">Обязательное поле</div>
            </div>
          </div>
        </div>

        <div class="col-6">

          <div class="form-group">
            <label for="personalNumber">Личный номер:</label>
            <input type="text" id="personalNumber" name="personalNumber"
                   [(ngModel)]="editedPassport.personalNumber" class="form-control"
                   required pattern="[A-Z0-9]{14}" #personalNumber="ngModel">
            <div [hidden]="personalNumber.valid || personalNumber.pristine" class="alert alert-danger">
              <div [hidden]="!personalNumber.hasError('pattern')">Неверный формат</div>
              <div [hidden]="!personalNumber.hasError('required')">Обязательное поле</div>
            </div>
          </div>

          <div class="form-group">
            <label for="dateOfIssue">Дата выдачи:</label>
            <div class="input-group">
              <input id="dateOfIssue" class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="dateOfIssue" ngbDatepicker #d="ngbDatepicker"
                     (ngModelChange)="onChangeDateOfIssue(dateOfIssue)" [minDate]="ngbDateOfIssue[0]"
                     [maxDate]="ngbDateOfIssue[1]" required (blur)="touchedDateOfIssue = true">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <img src="../../assets/images/calendar-icon.svg"
                     style="width: 0.5rem; height: 0.5rem; cursor: pointer;"/>
              </button>
            </div>
            <div [hidden]="dateOfIssue != null || !touchedDateOfIssue" class="alert alert-danger">Обязательное поле
            </div>
          </div>

          <div class="form-group">
            <label for="validUntil">Срок действия:</label>
            <div class="form-group" style="margin-bottom: 0px;">
              <div class="input-group">
                <input class="form-control" id="validUntil" placeholder="yyyy-mm-dd"
                       name="dp1" [(ngModel)]="validUntil" ngbDatepicker #ds="ngbDatepicker"
                       (ngModelChange)="onChangeValidUntil(validUntil)" [minDate]="ngbValidUntil[0]"
                       [maxDate]="ngbValidUntil[1]" required (blur)="touchedValidUntil = true">
                <button class="input-group-addon" (click)="ds.toggle()" type="button">
                  <img src="../../assets/images/calendar-icon.svg"
                       style="width: 0.5rem; height: 0.5rem; cursor: pointer;"/>
                </button>
              </div>
              <div [hidden]="validUntil != null || !touchedValidUntil" class="alert alert-danger">Обязательное поле
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="placeOfIssue">Место выдачи:</label>
            <input type="text" id="placeOfIssue" name="placeOfIssue" [(ngModel)]="editedPassport.placeOfIssue"
                   class="form-control" required #placeOfIssue="ngModel">
            <div [hidden]="placeOfIssue.valid || placeOfIssue.pristine" class="alert alert-danger">
              <div [hidden]="!placeOfIssue.hasError('required')">Обязательное поле</div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
      <button type="submit" class="btn btn-primary" [disabled]="!updatePassportData.form.valid">Сохранить</button>
    </div>
  </form>
</ng-template>
