<div align="right">
  <button type="button" class="btn btn-success" (click)="showCreateBrand(contentCreateBrand)">Добавить</button>
  <button class="btn btn-outline-primary" (click)="sortCarParameter()" *ngIf="!sortedByName">Сортировать по имени</button>
  <button class="btn btn-outline-primary" (click)="sortCarParameter()" *ngIf="sortedByName">Сортировать по id</button>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th class="text-center" width="5%">Id</th>
    <th class="text-center" colspan="2">Название</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let parameter of parameters.content">
    <td>{{ parameter.id }}</td>
    <td>
      <button type="button" class="btn btn-outline-info" (click)="showModels(parameter)">{{ parameter.name }}
        <span class="badge badge-light" *ngIf="parameter.models != null">{{parameter.models.length}}</span>
      </button>
      <!--start models-->
      <div *ngIf="flag_model == parameter.id">
        <hr>
        <p align="center">
          <button type="button" class="btn btn-outline-success"
                  (click)="showCreateModel(parameter, contentCreateModel)">
            Добавить модель
          </button>
        </p>
        <table class="table table-bordered table-striped table-hover">
          <tr *ngFor="let model of parameter.models">
            <td>{{ model.id }}</td>
            <td>
              {{ model.name }}
            </td>
            <td align="center">
              <button type="button" class="btn btn-outline-primary"
                      (click)="showUpdateModel(parameter, model, contentUpdateModel)">
                Изменить модель
              </button>
              <button type="button" class="btn btn-outline-danger"
                      (click)="showDeleteModel(parameter, model, contentDeleteModel)">
                Удалить модель
              </button>
            </td>
          </tr>
        </table>
      </div>
      <!--end models-->
    </td>
    <td align="center" width="20%">
      <button type="button" class="btn btn-primary" (click)="showUpdateBrand(parameter, contentUpdateBrand)">Изменить
      </button>
      <button type="button" class="btn btn-danger" (click)="showDeleteBrand(parameter, contentDeleteBrand)">Удалить
      </button>
    </td>
  </tr>
  </tbody>
</table>
<ngb-pagination [collectionSize]="parameters.totalElements" [(page)]="page" [pageSize]="parameters.size" [maxSize]="5"
                [rotate]="true" (pageChange)="onChangePage(page)"></ngb-pagination>

<ng-template #contentCreateBrand let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Создание параметра</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="saveBrand()" #createBrand="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="errorCreate">{{errorCreate}}</div>
      <div class="form-group">
        <label for="newParam" class="col-form-label">Название:</label>
        <input class="form-control" id="newParam" name="newParam" [(ngModel)]="newBrand.name" required
               #newParam="ngModel"/>
        <div [hidden]="newParam.valid || newParam.pristine" class="alert alert-danger">
          <div [hidden]="!newParam.hasError('required')">Обязательное поле</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
      <button type="submit" class="btn btn-primary" [disabled]="!createBrand.form.valid">Сохранить</button>
    </div>
  </form>
</ng-template>

<ng-template #contentUpdateBrand let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Изменение параметра</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="updateBrand()" #update="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="errorUpdate">{{errorUpdate}}</div>
      <div class="form-group">
        <label for="oldName" class="col-form-label">Старое название:</label>
        <input disabled type="text" class="form-control" id="oldName" name="oldName"
               placeholder="{{cloneBrand.name}}">
      </div>
      <div class="form-group">
        <label for="newName" class="col-form-label">Новое название:</label>
        <input class="form-control" id="newName" name="newName" [(ngModel)]="editedBrand.name"
               required #newName="ngModel"/>
        <div [hidden]="newName.valid || newName.pristine" class="alert alert-danger">
          <div [hidden]="!newName.hasError('required')">Обязательное поле</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
      <button type="submit" class="btn btn-primary" [disabled]="!update.form.valid">Изменить</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDeleteBrand let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Удаление параметра</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="errorDelete">{{errorDelete}}</div>
    <p>Id: <b>{{cloneBrand.id}}</b></p>
    <p>Название: <b>{{cloneBrand.name}}</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="removeBrand()">Удалить</button>
  </div>
</ng-template>

<!--Модальные окошки для моделей-->
<ng-template #contentCreateModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Создание параметра</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="saveModel()" #createModel="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="errorCreate">{{errorCreate}}</div>
      <div class="form-group">
        <label for="newModel1" class="col-form-label">Название:</label>
        <input class="form-control" id="newModel1" name="newModel1" [(ngModel)]="newModel.name" required
               #newModel1="ngModel"/>
        <div [hidden]="newModel1.valid || newModel1.pristine" class="alert alert-danger">
          <div [hidden]="!newModel1.hasError('required')">Обязательное поле</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
      <button type="submit" class="btn btn-primary" [disabled]="!createModel.form.valid">Сохранить</button>
    </div>
  </form>
</ng-template>

<ng-template #contentUpdateModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Изменение параметра</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="updateModel()" #updateModel1="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="errorUpdate">{{errorUpdate}}</div>
      <div class="form-group">
        <label for="oldName" class="col-form-label">Старое название:</label>
        <input disabled type="text" class="form-control" id="oldNameModel" name="oldNameModel"
               placeholder="{{cloneModel.name}}">
      </div>
      <div class="form-group">
        <label for="newNameModel" class="col-form-label">Новое название:</label>
        <input class="form-control" id="newNameModel" name="newNameModel" [(ngModel)]="editedModel.name"
               required #newNameModel="ngModel"/>
        <div [hidden]="newNameModel.valid || newNameModel.pristine" class="alert alert-danger">
          <div [hidden]="!newNameModel.hasError('required')">Обязательное поле</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
      <button type="submit" class="btn btn-primary" [disabled]="!updateModel1.form.valid">Изменить</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDeleteModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Удаление параметра</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="errorDelete">{{errorDelete}}</div>
    <p>Id: <b>{{cloneModel.id}}</b></p>
    <p>Название: <b>{{cloneModel.name}}</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="removeModel()">Удалить</button>
  </div>
</ng-template>
