<div class="row">

  <div class="col-12 newblock"><h3>Паспортные данные</h3></div>
  <div class="col-4">
    <div class="row">
      <div class="col-6">
        <h6>Фамилия:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{passport.lastName}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Имя:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{passport.firstName}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Отчество:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{passport.middleName}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Серия:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{passport.series}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Номер:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{passport.number}}</div>
    </div>
  </div>

  <div class="col-5">
    <div class="row">
      <div class="col-6">
        <h6>Личный номер:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{passport.personalNumber}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Дата выдачи:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{passport.dateOfIssue | date: 'yyyy-MM-dd'}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Место выдачи:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{passport.placeOfIssue}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Срок действия:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{passport.validUntil | date: 'yyyy-MM-dd'}}</div>
    </div>
  </div>

  <div class="col-1" *ngIf="passport.id">
    <button type="button" class="btn-sm btn-primary" (click)="showEdit()" data-toggle="modal"
            data-target="#updatePassportData"
            data-placement="bottom" title="Редактировать паспортные данные">✎
    </button>
  </div>
</div>


<!-- Modal Update PassportData -->
<div class="modal fade" id="updatePassportData" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Паспортные данные</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Фамилия:
                <input type="email" [(ngModel)]="editedPassport.lastName" class="form-control">
              </label>
            </div>
            <div class="form-group">
              <label>Имя:
                <input type="text" [(ngModel)]="editedPassport.firstName" class="form-control">
              </label>
            </div>
            <div class="form-group">
              <label>Отчество:
                <input type="text" [(ngModel)]="editedPassport.middleName" class="form-control">
              </label>
            </div>
            <div class="form-group">
              <label>Серия:
                <input type="text" [(ngModel)]="editedPassport.series" class="form-control">
              </label>
            </div>
            <div class="form-group">
              <label>Номер:
                <input type="text" [(ngModel)]="editedPassport.number" class="form-control">
              </label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Личный номер:
                <input type="text" [(ngModel)]="editedPassport.personalNumber" class="form-control">
              </label>
            </div>
            <label>Дата выдачи:
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="dateOfIssue" ngbDatepicker #d="ngbDatepicker"
                         (ngModelChange)="onChangeDateOfIssue(dateOfIssue)">
                  <button class="input-group-addon" (click)="d.toggle()" type="button">
                    <img src="../../assets/images/calendar-icon.svg"
                         style="width: 0.5rem; height: 0.5rem; cursor: pointer;"/>
                  </button>
                </div>
              </div>
            </label>
            <div class="form-group">
              <label>Срок действия:
                <div class="form-group" style="margin-bottom: 0px;">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp1" [(ngModel)]="validUntil" ngbDatepicker #ds="ngbDatepicker"
                           (ngModelChange)="onChangeValidUntil(validUntil)">
                    <button class="input-group-addon" (click)="ds.toggle()" type="button">
                      <img src="../../assets/images/calendar-icon.svg"
                           style="width: 0.5rem; height: 0.5rem; cursor: pointer;"/>
                    </button>
                  </div>
                </div>
              </label>
            </div>
            <div class="form-group">
              <label>Место выдачи:
                <input type="text" [(ngModel)]="editedPassport.placeOfIssue" class="form-control">
              </label>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" (click)="updatePassport()" data-dismiss="modal" class="btn btn-primary">Сохранить
              изменения
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
