<h4 align="center">Общие параметры:</h4>
<div class="row">
  <div class="col-6">

    <div class="form-group">
      <label for="brand" class="col-form-label">Марка</label>
      <select class="form-control" id="brand" [(ngModel)]="car.generalParameters.brand"
              (ngModelChange)="changeModel(car.generalParameters.brand)">
        <option *ngFor="let brand of brands" [ngValue]="brand.name">{{brand.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="model" class="col-form-label">Модель</label>
      <select class="form-control" id="model" [(ngModel)]="car.generalParameters.model">
        <option *ngFor="let model of models" [ngValue]="model.name">{{model.name}}</option>
      </select>
    </div>

    <label for="yearOfIssue" class="col-form-label">Год выпуска</label>
    <input type="text" class="form-control" id="yearOfIssue" [(ngModel)]="car.generalParameters.yearOfIssue">

  </div>
  <div class="col-6">
    <img src="../../assets/images/placeholder-car.png" alt="Car image" width="100%">
  </div>
</div>
<hr>
<h4 align="center">Технические параметры:</h4>
<div class="row">
  <div class="col-6">

    <div class="form-group">
      <label for="gearbox" class="col-form-label">Коробка передач:</label>
      <select class="form-control" id="gearbox" [(ngModel)]="car.technicalParameters.gearbox">
        <option *ngFor="let gearbox of gearboxes" [ngValue]="gearbox.name">{{gearbox.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="bodyType" class="col-form-label">Тип кузова:</label>
      <select class="form-control" id="bodyType" [(ngModel)]="car.technicalParameters.bodyType">
        <option *ngFor="let bodyType of bodyTypes" [ngValue]="bodyType.name">{{bodyType.name}}</option>
      </select>
    </div>

    <label for="seatNumber" class="col-form-label">Кол-во мест:</label>
    <input type="text" class="form-control" id="seatNumber" [(ngModel)]="car.technicalParameters.seatNumber">

    <label for="doorNumber" class="col-form-label">Кол-во дверей:</label>
    <input type="text" class="form-control" id="doorNumber" [(ngModel)]="car.technicalParameters.doorNumber">

    <div class="form-group">
      <label for="fuelType" class="col-form-label">Тип топлива:</label>
      <select class="form-control" id="fuelType" [(ngModel)]="car.technicalParameters.fuelType">
        <option *ngFor="let fuelType of fuelTypes" [ngValue]="fuelType.name">{{fuelType.name}}</option>
      </select>
    </div>

    <label for="fuelConsumption" class="col-form-label">Расход топлива на 100 км. (смешанный цикл):</label>
    <input type="text" class="form-control" id="fuelConsumption" [(ngModel)]="car.technicalParameters.fuelConsumption">

    <div class="form-group">
      <label for="driveUnit" class="col-form-label">Привод:</label>
      <select class="form-control" id="driveUnit" [(ngModel)]="car.technicalParameters.driveUnit">
        <option *ngFor="let driveUnit of driveUnits" [ngValue]="driveUnit.name">{{driveUnit.name}}</option>
      </select>
    </div>

  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="tiresSeason" class="col-form-label">Сезон шин:</label>
      <select class="form-control" id="tiresSeason" [(ngModel)]="car.technicalParameters.tiresSeason">
        <option *ngFor="let tiresSeason of tiresSeasons" [ngValue]="tiresSeason.name">{{tiresSeason.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="interiorMaterial" class="col-form-label">Материал салона:</label>
      <select class="form-control" id="interiorMaterial" [(ngModel)]="car.technicalParameters.interiorMaterial">
        <option *ngFor="let interiorMaterial of interiorMaterial" [ngValue]="interiorMaterial.name">
          {{interiorMaterial.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="color" class="col-form-label">Цвет:</label>
      <select class="form-control" id="color" [(ngModel)]="car.technicalParameters.color">
        <option *ngFor="let color of color" [ngValue]="color.name">{{color.name}}</option>
      </select>
    </div>

    <label for="vin" class="col-form-label">VIN:</label>
    <input type="text" class="form-control" id="vin" [(ngModel)]="car.technicalParameters.vin">

    <label for="govNumber" class="col-form-label">Гос. номер:</label>
    <input type="text" class="form-control" id="govNumber" [(ngModel)]="car.technicalParameters.govNumber">

    <label for="stsFormNumber" class="col-form-label">Номер бланка СТС:</label>
    <input type="text" class="form-control" id="stsFormNumber" [(ngModel)]="car.technicalParameters.stsFormNumber">

    <label for="stsImageLink" class="col-form-label">Фото СТС:</label>
    <input type="text" class="form-control" id="stsImageLink" [(ngModel)]="car.technicalParameters.stsImageLink">

    <label for="ptsImageLink" class="col-form-label">Фото ПТС:</label>
    <input type="text" class="form-control" id="ptsImageLink" [(ngModel)]="car.technicalParameters.ptsImageLink">
  </div>
</div>
<hr>
<h4 align="center">Текущее состояние:</h4>
<div class="row">
  <div class="col-6">
    <label for="damageDescription" class="col-form-label">Повреждения</label>
    <input type="text" class="form-control" id="damageDescription" [(ngModel)]="car.currentCondition.damageDescription">
  </div>
  <div class="col-6">
    <label for="mileage" class="col-form-label">Пробег</label>
    <input type="text" class="form-control" id="mileage" [(ngModel)]="car.currentCondition.mileage">
  </div>
</div>
<hr>
<div align="center">
  <button type="button" class="btn btn-success" (click)="saveCar()" style="width: 100%">Добавить</button>
</div>
<h4 *ngIf="error">{{error}}</h4>
