<!--Driver license-->
<div class="row">
  <div class="col-12 newblock"><h3>Водительское удостоверение</h3></div>
  <div class="col-4">
    <div class="row">
      <div class="col-6">
        <h6>Серия:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{driverLicense.seriesAndNumber}}</div>
    </div>
  </div>
  <div class="col-5">
    <div class="row">
      <div class="col-6">
        <h6>Категории:</h6>
      </div>
      <div class="col-6" style="text-align: left">{{driverLicense.category}}</div>
    </div>
  </div>
  <div class="col-1" *ngIf="driverLicense.id">
    <button type="button" class="btn-sm btn-primary" (click)="showEdit()" data-toggle="modal"
            data-target="#updateDriverLicense"
            data-placement="bottom" title="Редактировать водительское удостоверение">✎
    </button>
  </div>
</div>

<!-- Modal Update DriveLicansion -->
<div class="modal fade" id="updateDriverLicense" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Водительское удостоверение</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Серия:
            <input type="text" [(ngModel)]="editedDriverLicense.seriesAndNumber" class="form-control">
          </label>
        </div>
        <div class="form-group">
          <label>Категории:
            <input type="text" [(ngModel)]="editedDriverLicense.category" class="form-control">
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="updateDriverLicense()" data-dismiss="modal">Сохранить
          изменения
        </button>
      </div>
    </div>
  </div>
</div>
