<div align="left">
  <p><b>Коробка передач:</b> {{technicalParameters.gearbox}}</p>
  <p><b>Тип кузова:</b> {{technicalParameters.bodyType}}</p>
  <p><b>Кол-во мест:</b> {{technicalParameters.seatNumber}}</p>
  <p><b>Кол-во дверей:</b> {{technicalParameters.doorNumber}}</p>
  <p><b>Тип топлива:</b> {{technicalParameters.fuelType}}</p>
  <p><b>Расход топлива на 100 км. (смешанный цикл):</b> {{technicalParameters.fuelConsumption}} л. / 100 км.</p>
  <p><b>Привод:</b> {{technicalParameters.driveUnit}}</p>
  <p><b>Сезон шин:</b> {{technicalParameters.tiresSeason}}</p>
  <p><b>Материал салона:</b> {{technicalParameters.interiorMaterial}}</p>
  <p><b>Цвет:</b> {{technicalParameters.color}}</p>
  <p><b>VIN:</b> {{technicalParameters.vin}}</p>
  <p><b>Гос. номер:</b> {{technicalParameters.govNumber}}</p>
  <p><b>Номер бланка СТС:</b> {{technicalParameters.stsFormNumber}}</p>
  <p><b>Фото СТС:</b> {{technicalParameters.stsImageLink}}</p>
  <p><b>Фото ПТС:</b> {{technicalParameters.ptsImageLink}}</p>
  <button type="button" class="btn-sm btn-secondary" data-toggle="modal" data-target="#technicalParameters">Редактировать
  </button>
</div>
