<img src="../../../../../../../assets/images/placeholder-car.png" alt="Car image" width="50%">
<div align="left">
  <p><b>Марка:</b> {{generalParameters.brand}}</p>
  <p><b>Модель:</b> {{generalParameters.model}}</p>
  <p><b>Год выпуска:</b> {{generalParameters.yearOfIssue}}</p>
</div>

<button type="button" class="btn-sm btn-secondary" (click)="showUpdate(contentUpdate)">Редактировать</button>

<ng-template #contentUpdate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Общие параметры</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="updateGeneralParameters()" #generalParameters="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="errorUpdate">{{errorUpdate}}</div>
      <div class="form-group">
        <label for="yearOfIssue" class="col-form-label">Год выпуска</label>
        <select class="form-control" id="yearOfIssue" name="yearOfIssue"
                [(ngModel)]="editedGeneralParameters.yearOfIssue" required #yearOfIssue="ngModel">
          <option *ngFor="let year of years">{{year}}</option>
        </select>
        <div [hidden]="yearOfIssue.valid || yearOfIssue.pristine" class="alert alert-danger">
          <div [hidden]="!yearOfIssue.hasError('required')">Обязательное поле</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
      <button type="submit" class="btn btn-primary" [disabled]="!generalParameters.form.valid">Сохранить
      </button>
    </div>
  </form>
</ng-template>
