<img src="../../../../../../../assets/images/placeholder-car.png" alt="Car image" width="50%">
<div align="left">
  <p><b>Марка:</b> {{generalParameters.brand}}</p>
  <p><b>Модель:</b> {{generalParameters.model}}</p>
  <p><b>Год выпуска:</b> {{generalParameters.yearOfIssue}}</p>
</div>
<!--
<button type="button" class="btn-sm btn-secondary" data-toggle="modal" data-target="#generalParameters"
        (click)="editParams()">
  Редактировать
</button>


&lt;!&ndash; Modal &ndash;&gt;
<div class="modal fade" id="generalParameters" tabindex="-1" role="dialog"
     aria-labelledby="generalParameters"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="generalParametersLabel">Общие параметры</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="brand" class="col-form-label">Марка</label>
        <input type="text" class="form-control" id="brand"
               value="{{generalParameters.brand}}" [(ngModel)]="editedGeneralParameters.brand">
        <label for="model" class="col-form-label">Модель</label>
        <input type="text" class="form-control" id="model"
               value="{{generalParameters.model}}" [(ngModel)]="editedGeneralParameters.model">
        <label for="yearOfIssue" class="col-form-label">Год выпуска</label>
        <input type="text" class="form-control" id="yearOfIssue"
               value="{{generalParameters.yearOfIssue}}" [(ngModel)]="editedGeneralParameters.yearOfIssue">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateGeneralParameters()">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->
