<div align="center">
  <div class="col-md-6" align="left">
    <br>
    <h3 align="center">Регистрация</h3>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
               required
               [(ngModel)]="user.email" name="email"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+$"
               #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          <div [hidden]="!email.hasError('required')">Обязательное поле</div>
          <div [hidden]="!email.hasError('pattern')">Email должен быть в формате
            <small><b>joe@abc.com</b></small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" required [(ngModel)]="user.login" name="login"
               #login="ngModel">
        <div [hidden]="login.valid || login.pristine" class="alert alert-danger">
          <div [hidden]="!login.hasError('required')">Обязательное поле</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password"
               required
               [(ngModel)]="user.password" name="password"
               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
               #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          <div [hidden]="!password.hasError('required')">Обязательное поле</div>
          <div [hidden]="!password.hasError('pattern')">Минимум 8 знаков, хотя бы одна латинская буква, хотя бы одна
            цифра
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Подтвердите пароль</label>
        <input type="password" class="form-control" id="confirmPassword"
               required
               validateEqual="password"
               [(ngModel)]="user.confirmPassword" name="confirmPassword"
               #confirmPassword="ngModel">
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
             class="alert alert-danger">
          Пароли не совпадают
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-block" [disabled]="!loginForm.form.valid">Зарегистрироваться
      </button>
    </form>
  </div>
</div>
