<div align="right">
  <button type="button" class="btn-sm btn-primary" (click)="confirmProfile()"
          *ngIf="profile.confirmProfile ==  noConfirm">Подтвердить профиль
  </button>
  <p *ngIf="profile.confirmProfile == yesConfirm">Профиль подтвержден</p>
  <p *ngIf="profile.confirmProfile == checkConfirm">Профиль отправлен на подтверждение</p>
</div>

<h4 class="text-center">Общая информация</h4>
<hr>
<div class="row">
  <div class="col-4">
    <div class="avatar">
      <img src="{{profile.avatarUrl}}" alt="Avatar" *ngIf="profile.avatarUrl" class="image">
      <img src="../../assets/images/avatar.png" alt="Avatar" *ngIf="!profile.avatarUrl" class="image">
      <div class="avatar-options">
        <button type="button" class="btn btn-sm btn-danger" (click)="showDeleteAvatar(contentDeleteAvatar)"
                *ngIf="profile.avatarUrl" data-placement="bottom" title="Удалить фото">␡
        </button>
        <button type="button" class="btn btn-sm btn-primary" (click)="showLoadAvatar(contentLoadAvatar)"
                data-placement="bottom" title="Изменить фото">✎
        </button>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-5">
    <p><b>Email: </b>{{profile.email}}</p>
    <p><b>Логин: </b>{{profile.login}}</p>
    <p><b>Дата рождения: </b>{{profile.birthday | date: 'yyyy-MM-dd'}}</p>
    <p><b>Стаж вождения: </b>{{profile.drivingExperience}}</p>
  </div>
  <div class="col-2" *ngIf="profile.id" align="right">
    <button type="button" class="btn-sm btn-primary" (click)="showEdit(content)"
            data-placement="bottom" title="Редактировать общую информацию">✎
    </button>
  </div>
</div>

<app-passport-data></app-passport-data>
<app-driver-license></app-driver-license>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Общая информация</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="updateProfile()" #updateProfileInfo="ngForm">
    <div class="modal-body">

      <div class="alert alert-danger" role="alert" *ngIf="errorUpdate">{{errorUpdate}}</div>

      <div class="form-group">
        <label for="login">Login:</label>
        <input name="login" id="login" [(ngModel)]="editedProfile.login" type="text" class="form-control" required
               #login="ngModel">
        <div [hidden]="login.valid || login.pristine" class="alert alert-danger">
          <div [hidden]="!login.hasError('required')">Обязательное поле</div>
        </div>
      </div>

      <div class="form-group">
        <label for="dp">Дата рождения:</label>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" id="dp" [(ngModel)]="birthday" ngbDatepicker #d="ngbDatepicker"
                   (ngModelChange)="onChange(birthday)" [minDate]="ngbBirthday[0]"
                   [maxDate]="ngbBirthday[1]">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <img src="../../assets/images/calendar-icon.svg"
                   style="width: 0.5rem; height: 0.5rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="drivingExperience">Стаж вождения:</label>
        <input name="drivingExperience" id="drivingExperience" [(ngModel)]="editedProfile.drivingExperience" type="text"
               class="form-control"
               pattern="[0-9]{1,3}"
               #drivingExperience="ngModel"
               placeholder="Введите стаж вождения">
        <div [hidden]="drivingExperience.valid || drivingExperience.pristine"
             class="alert alert-danger">
          <div [hidden]="!drivingExperience.hasError('pattern')">Цифры. Максимум 3
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
      <button type="submit" class="btn btn-primary" [disabled]="!updateProfileInfo.form.valid">Сохранить</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDeleteAvatar let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Удалить аватар?</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="errorAvatar">{{errorAvatar}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Нет</button>
    <button type="submit" class="btn btn-primary" (click)="deleteAvatar()">Да</button>
  </div>
</ng-template>

<ng-template #contentLoadAvatar let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Загрузка аватара</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="uploadAvatar()" #loadAvatar="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="errorAvatar">{{errorAvatar}}</div>
      <div class="form-group">
        <label for="avatar">Фото:</label>
        <input type="file" name="avatar" id="avatar" (change)="onFileChange($event)" required accept="image/*"
               class="form-control">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
      <button type="submit" [disabled]="!loadAvatar.form.valid || loading" class="btn btn-primary">Загрузить</button>
    </div>
  </form>
</ng-template>
