<div align="right">
  <button type="button" class="btn-sm btn-primary" (click)="confirmProfile()"
          *ngIf="profile.confirmProfile ==  noConfirm">Подтвердить профиль
  </button>
  <p *ngIf="profile.confirmProfile == yesConfirm">Профиль подтвержден</p>
  <p *ngIf="profile.confirmProfile == checkConfirm">Профиль отправлен на подтверждение</p>
</div>

<div class="row">
  <div class="col-12 newblock" style="margin-top: 0"><h3>Общая информация</h3></div>
  <div class="col-4">
    <div class="row">
      <div class="col-6">
        <h6>E-mail:</h6>
      </div>
      <div class="col-6">{{profile.email}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Дата рождения:</h6>
      </div>
      <div class="col-6">{{profile.birthday | date: 'yyyy-MM-dd'}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Стаж вождения:</h6>
      </div>
      <div class="col-6">{{profile.drivingExperience}}</div>
    </div>
  </div>
  <div class="col-5"></div>
  <div class="col-1" *ngIf="profile.id">
    <button type="button" class="btn-sm btn-primary" (click)="showEdit(content)"
            data-placement="bottom" title="Редактировать общую информацию">✎
    </button>
  </div>
</div>

<app-passport-data></app-passport-data>
<app-driver-license></app-driver-license>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Общая информация</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="updateProfile()" #updateProfileInfo="ngForm">
    <div class="modal-body">

      <div class="alert alert-danger" role="alert" *ngIf="errorUpdate">{{errorUpdate}}</div>

      <div class="form-group">
        <label>Дата рождения:
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="birthday" ngbDatepicker #d="ngbDatepicker"
                       (ngModelChange)="onChange(birthday)">
                <button class="input-group-addon" (click)="d.toggle()" type="button">
                  <img src="../../assets/images/calendar-icon.svg"
                       style="width: 0.5rem; height: 0.5rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </form>
        </label>
      </div>

      <div class="form-group">
        <label>Стаж вождения:
          <input name="drivingExperience" [(ngModel)]="editedProfile.drivingExperience" type="text"
                 class="form-control"
                 pattern="[0-9]{1,3}"
                 #drivingExperience="ngModel"
                 placeholder="Введите стаж вождения">
          <div [hidden]="drivingExperience.valid || drivingExperience.pristine"
               class="alert alert-danger">
            <div [hidden]="!drivingExperience.hasError('pattern')">Стаж вождения должен состоять из цифр (максимум 3)
            </div>
          </div>
        </label>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
      <button type="submit" class="btn btn-primary" [disabled]="!updateProfileInfo.form.valid">Сохранить</button>
    </div>
  </form>
</ng-template>
