<p>
  <button class="btn btn-outline-primary my-2 my-sm-0" type="button"
          (click)="showChangePassword(contentChangePassword)">Изменить пароль
  </button>
</p>
<p>
  <button class="btn btn-outline-danger my-2 my-sm-0" type="button"
          (click)="showDisableProfile(contentDisableProfile)">Удалить аккаунт
  </button>
</p>

<ng-template #contentDisableProfile let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердите удаление аккаунта</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="disableProfile()">Удалить</button>
  </div>
</ng-template>

<ng-template #contentChangePassword let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Смена пароля</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
      <div class="form-group">
        <label for="oldPassword">Старый пароль</label>
        <input type="password" class="form-control" id="oldPassword" required [(ngModel)]="newPassword.oldPassword"
               name="oldPassword" #oldPassword="ngModel">
        <div [hidden]="oldPassword.valid || oldPassword.pristine" class="alert alert-danger">
          <div [hidden]="!oldPassword.hasError('required')">Обязательное поле</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Новый пароль</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="newPassword.password"
               name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          <div [hidden]="!password.hasError('required')">Обязательное поле</div>
          <div [hidden]="!password.hasError('pattern')">Минимум 8 знаков, хотя бы одна латинская буква, хотя бы одна
            цифра
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Подтвердите новый пароль</label>
        <input type="password" class="form-control" id="confirmPassword" required validateEqual="password"
               [(ngModel)]="newPassword.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
             class="alert alert-danger">
          Пароли не совпадают
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
      <button type="submit" class="btn btn-success" [disabled]="!changePasswordForm.form.valid">Изменить
      </button>
    </div>
  </form>
</ng-template>
