<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/admin">Car sharing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['setup']" *ngIf="securityModel.authenticated">Параметры машин</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['profile']" *ngIf="securityModel.authenticated">Профили</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="!securityModel.authenticated"
              routerLink="/login">Вход
      </button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="!securityModel.authenticated"
              routerLink="/registration">Регистрация
      </button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="securityModel.authenticated"
              (click)="showLogout(contentLogout)">
        Выход
      </button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>

<ng-template #contentLogout let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердите выход</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="errorLogout">{{errorLogout}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="logout()">Выйти</button>
  </div>
</ng-template>
