<h4 align="center">Создание объявления:</h4>
<div class="row">
  <div class="col-6">
    <label class="col-form-label">Местоположение машины:</label>
    <input class="form-control" [(ngModel)]="ad.carLocation" name="carLocation" #carLocation="ngModel" required />
    <div [hidden]="carLocation.valid || carLocation.untouched" class="alert alert-danger">
      Не указано местоположение машины
    </div>
    <label class="col-form-label">Место возврата:</label>
    <input class="form-control" [(ngModel)]="ad.returnPlace" name="returnPlace" #returnPlace="ngModel" required>
    <div [hidden]="returnPlace.valid || returnPlace.untouched" class="alert alert-danger">
      Не указано место возврата машины
    </div>


    <div class="row">
      <div class="col">
        <label class="col-form-label">Машина:</label>
        <div class="form-group">
          <select class="form-control" #selectCar [ngModel]="selectedCar"  (ngModelChange)="onChangeCar(selectCar.value)" name="car" #car="ngModel" required>
            <ng-container *ngFor="let car of cars">
            <option  *ngIf="car.ad === null" [value]="car.id">{{car.generalParameters.brand}} {{car.generalParameters.model}}</option>
            </ng-container>
          </select>
        </div>
        <div [hidden]="car.valid || car.untouched" class="alert alert-danger">
          Не выбрана машина
        </div>
      </div>



  </div>
  </div>
  <div class="col-6">
    <label class="col-form-label">Стоимость часа аренды:</label>
    <input type="text" class="form-control" [(ngModel)]="ad.costPerHour" name="costPerHour" #costPerHour="ngModel" required
    pattern="[0-9]">
    <div [hidden]="costPerHour.valid || costPerHour.untouched" class="alert alert-danger">
      Некорректная стоимость за час аренды
    </div>
    <label class="col-form-label">Стоимость аренды на день:</label>
    <input type="text" class="form-control" [(ngModel)]="ad.costPerDay"  name="costPerDay" #costPerDay="ngModel" required
           pattern="[0-9]">
    <div [hidden]="costPerDay.valid || costPerDay.untouched" class="alert alert-danger">
      Некорректная стоимость за день аренды
    </div>
    <label class="col-form-label">Стоимость аренды на 3 дня:</label>
    <input type="text" class="form-control" [(ngModel)]="ad.costPer3Days"  name="costPer3Days" #costPer3Days="ngModel" required
           pattern="[0-9]">
    <div [hidden]="costPer3Days.valid || costPer3Days.untouched" class="alert alert-danger">
      Некорректная стоимость за три дня аренды
    </div>
  </div>
</div>
<hr>
<div align="center">
  <button [disabled]="carLocation.invalid || returnPlace.invalid
  || car.invalid || costPerHour.invalid || costPerDay.invalid || costPer3Days.invalid" class="btn btn-success" (click)="addAd()">Добавить</button>
</div>
