<ul class="nav nav-pills nav-fill">
  <li class="nav-item"><a class="nav-link" [routerLink]="['brand']" routerLinkActive="active">Марка</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['model']" routerLinkActive="active">Модель</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['gearbox']" routerLinkActive="active">Коробка передач</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['body-type']" routerLinkActive="active">Тип кузова</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['fuel-type']" routerLinkActive="active">Тип топлива</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['drive-unit']" routerLinkActive="active">Привод</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['tires-season']" routerLinkActive="active">Сезон шин</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['interior-material']" routerLinkActive="active">Материал салона</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['color']" routerLinkActive="active">Цвет</a></li>
</ul>
<router-outlet></router-outlet>
