<div class="container">
  <p align="center">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newBrand">Добавить</button>
  </p>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th class="text-center" width="5%">Id</th>
      <th class="text-center" colspan="2">Название</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let parameter of parameters">
      <td>{{ parameter.id }}</td>
      <td>
        <button type="button" class="btn btn-outline-info" (click)="showModels(parameter)">{{ parameter.name }}</button>
        <!--start models-->
        <div *ngIf="flag_model == parameter.id">
          <p align="center">
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newModelInBrand"
                    (click)="showNewModelModal(parameter)">Добавить модель
            </button>
          </p>
          <table class="table table-bordered table-striped table-hover">
            <tr *ngFor="let model of parameter.models">
              <td>{{ model.id }}</td>
              <td>
                {{ model.name }}
              </td>
              <td align="center">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#changeModelInBrand"
                        (click)="showEditModelModal(parameter, model)">Изменить модель
                </button>
                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                        data-target="#deleteModelInBrand"
                        (click)="showDeleteModelModal(parameter, model)">Удалить модель
                </button>
              </td>
            </tr>
          </table>
        </div>
        <!--end models-->
      </td>
      <td align="center" width="20%">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeBrand"
                (click)="showEditParameterModal(parameter)">Изменить
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteBrand"
                (click)="showDeleteParameterModal(parameter)">Удалить
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="newBrand" tabindex="-1" role="dialog" aria-labelledby="modalNewBrand" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNewBrand">Новый параметр</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--<div class="alert alert-danger" role="alert">
          <strong>Ошибка!</strong> {{error}}
        </div>-->
        <form name="myForm">
          <div class="form-group">
            <label for="nameParamBrand" class="col-form-label">Название:</label>
            <input class="form-control" id="nameParamBrand" name="name" [(ngModel)]="newParameter.name"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelNewParameter()">Отмена
        </button>
        <button type="button" class="btn btn-primary" (click)="saveParameter(newParameter)" data-dismiss="modal">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changeBrand" tabindex="-1" role="dialog" aria-labelledby="modalChangeBrand"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalChangeBrand">Введите новое название</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="myForm">
          <div class="form-group">
            <label for="oldNameBrand" class="col-form-label">Старое название:</label>
            <input disabled type="text" class="form-control" id="oldNameBrand" placeholder="{{cloneParameter.name}}">
          </div>
          <div class="form-group">
            <label for="newNameBrand" class="col-form-label">Новое название:</label>
            <input class="form-control" id="newNameBrand" name="name" [(ngModel)]="editedParameter.name"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelEdits()">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="updateParameter()" data-dismiss="modal">Сохранить
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteBrand" tabindex="-1" role="dialog" aria-labelledby="modalDeleteBrand"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteBrand">Точно удалить?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Id: <b>{{cloneParameter.id}}</b></p>
        <p>Название: <b>{{cloneParameter.name}}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelEdits()">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="removeParameter(cloneParameter)" data-dismiss="modal">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>

<!--Модальные окошки для моделей-->
<div class="modal fade" id="newModelInBrand" tabindex="-1" role="dialog" aria-labelledby="modalNewModelInBrand"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNewModelInBrand">Новая модель</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="myForm">
          <div class="form-group">
            <label for="nameParamModelInBrand" class="col-form-label">Название:</label>
            <input class="form-control" id="nameParamModelInBrand" name="name" [(ngModel)]="newModel.name"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена
        </button>
        <button type="button" class="btn btn-primary" (click)="saveModel()" data-dismiss="modal">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changeModelInBrand" tabindex="-1" role="dialog" aria-labelledby="modalChangeModelInBrand"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalChangeModelInBrand">Введите новое название модели</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="myForm">
          <div class="form-group">
            <label for="oldNameModelInBrand" class="col-form-label">Старое название:</label>
            <input disabled type="text" class="form-control" id="oldNameModelInBrand" placeholder="{{cloneModel.name}}">
          </div>
          <div class="form-group">
            <label for="newNameModelInBrand" class="col-form-label">Новое название:</label>
            <input class="form-control" id="newNameModelInBrand" name="name" [(ngModel)]="editedModel.name"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="updateModel()" data-dismiss="modal">Сохранить
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModelInBrand" tabindex="-1" role="dialog" aria-labelledby="modalDeleteModelBrand"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteModelInBrand">Точно удалить модель?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Id: <b>{{cloneModel.id}}</b></p>
        <p>Название: <b>{{cloneModel.name}}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="removeModel()" data-dismiss="modal">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>
