<div class="card" *ngFor="let profile of profiles">
  <div class="card-body">
    <div>
      <h4 class="text-center">Общая информация</h4>
      <div class="row">
        <div class="col-6">
          <p><b>Id:</b> {{profile.id}}</p></div>
        <p><b>E-mail:</b> {{profile.email}}</p>
        <div class="col-6">
          <p><b>Дата рождения:</b> {{profile.birthday | date: 'yyyy-MM-dd'}}</p></div>
          <p><b>Стаж вождения:</b> {{profile.drivingExperience}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="profile.passportDataResponse">
      <h4 class="text-center">Паспортные данные</h4>
      <div class="row">
        <div class="col-6">
          <p><b>Фамилия:</b> {{profile.passportDataResponse.lastName}}</p>
          <p><b>Имя:</b> {{profile.passportDataResponse.firstName}}</p>
          <p><b>Отчество:</b> {{profile.passportDataResponse.middleName}}</p>
          <p><b>Серия:</b> {{profile.passportDataResponse.series}}</p>
          <p><b>Номер:</b> {{profile.passportDataResponse.number}}</p>
        </div>
        <div class="col-6">
          <p><b>Личный номер:</b> {{profile.passportDataResponse.personalNumber}}</p>
          <p><b>Дата выдачи:</b> {{profile.passportDataResponse.dateOfIssue | date: 'yyyy-MM-dd'}}</p>
          <p><b>Место выдачи:</b> {{profile.passportDataResponse.placeOfIssue}}</p>
          <p><b>Срок действия:</b> {{profile.passportDataResponse.validUntil | date: 'yyyy-MM-dd'}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="profile.driverLicenseResponse">
      <h4 class="text-center">Водительское удостоверение</h4>
      <div class="row">
        <div class="col-6">
          <p><b>Серия и номер:</b> {{profile.driverLicenseResponse.seriesAndNumber}}</p>
        </div>
        <div class="col-6">
          <p><b>Категории:</b> {{profile.driverLicenseResponse.category}}</p></div>
      </div>
    </div>
    <div class="card-footer" align="center">
      <button type="button" class="btn-sm btn-primary" (click)="showConfirmProfile(profile, contentConfirm)">
        Подтвердить
      </button>
      <button type="button" class="btn-sm btn-danger" (click)="showNotConfirmProfile(profile, contentNotConfirm)">
        Не подтверждать
      </button>
    </div>
  </div>
</div>


<ng-template #contentConfirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подвердить профиль?</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="confirmProfile()">Подтвердить</button>
  </div>
</ng-template>

<ng-template #contentNotConfirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Не подверждать профиль?</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="notConfirmProfile()">Не подтверждать</button>
  </div>
</ng-template>
