<mat-tab-group>
  <mat-tab label="Коробка передач">
    <app-gearbox></app-gearbox>
  </mat-tab>
  <mat-tab label="Тип кузова">
    <h1>Some tab content</h1>
  </mat-tab>
  <mat-tab label="Тип топлива">
    <h1>Some tab content</h1>
  </mat-tab>
  <mat-tab label="Привод">
    <h1>Some tab content</h1>
  </mat-tab>
  <mat-tab label="Сезон шин">
    <h1>Some more tab content</h1>
  </mat-tab>
  <mat-tab label="Материал салона">
    <h1>Some tab content</h1>
  </mat-tab>
  <mat-tab label="Цвет">
    <h1>Some more tab content</h1>
  </mat-tab>
  <mat-tab label="Марка">
    <h1>Some tab content</h1>
  </mat-tab>
  <mat-tab label="Модель">
    <h1>Some more tab content</h1>
  </mat-tab>
</mat-tab-group>
