<div align="left">
  <p><b>Повреждения:</b> {{currentCondition.damageDescription}}</p>
  <p><b>Пробег:</b> {{currentCondition.mileage}} км</p>
</div>
<button type="button" class="btn btn-sm btn-primary" (click)="showEdit(content)" data-placement="bottom"
        title="Изменить">✎
</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Текущее состояние</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="updateCurrentCondition()" #curentCondition="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
      <div class="form-group">
        <label for="damageDescription" class="col-form-label">Повреждения</label>
        <input type="text" class="form-control" id="damageDescription" name="damageDescription"
               [(ngModel)]="editedCurrentCondition.damageDescription">
      </div>
      <div class="form-group">
        <label for="mileage" class="col-form-label">Пробег</label>
        <input type="text" class="form-control" id="mileage" name="mileage" [(ngModel)]="editedCurrentCondition.mileage"
               pattern="[0-9]{0,10}" #mileage="ngModel">
        <div [hidden]="mileage.valid || mileage.pristine"
             class="alert alert-danger">
          <div [hidden]="!mileage.hasError('pattern')">Только цифры. Максимум 10</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
      <button type="submit" class="btn btn-primary" [disabled]="!curentCondition.form.valid">Сохранить
      </button>
    </div>
  </form>
</ng-template>
