<h4 class="text-center">
  Мои кредитные карты
  <button data-toggle="modal" data-target="#add" data-placement="bottom" class="btn btn-success"
          title="Добавить кредитную карту" (click)="showNew(contentCreate)">Добавить
  </button>
</h4>
<div class="card" *ngFor="let card of creditCards">
  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <p><b>Владелец:</b> {{card.firstName}} {{card.lastName}}</p>
        <p><b>Номер карты:</b> {{card.number[0]}}{{card.number[1]}}**************</p>
        <p><b>Действительна до:</b> {{card.validUntil}}</p>
      </div>
      <div class="col-1">
        <button type="button" class="btn-sm btn-danger" data-placement="bottom" title="Удалить кредитную карту"
                (click)="showDelete(card, contentDelete)">␡
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #contentDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердите удаление</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="errorDelete">{{errorDelete}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
    <button type="submit" class="btn btn-primary" (click)="deleteCreditCard()">Удалить</button>
  </div>
</ng-template>

<ng-template #contentCreate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Новая кредитная карта</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="createCreditCard()" #createCard="ngForm">
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>

      <div class="form-group">
        <label for="lastName">Фамилия:</label>
        <input type="text" class="form-control" id="lastName"
               required
               [(ngModel)]="newCreditCard.lastName" name="lastName"
               pattern="[A-zА-я-]{0,20}"
               #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine"
             class="alert alert-danger">
          <div [hidden]="!lastName.hasError('required')">Обязательное поле</div>
          <div [hidden]="!lastName.hasError('pattern')">Буквы, тире. Максимум 20</div>
        </div>
      </div>


      <div class="form-group">
        <label for="firstName">Имя:</label>
        <input type="text" class="form-control" id="firstName"
               required
               [(ngModel)]="newCreditCard.firstName" name="firstName"
               pattern="[A-zА-я-]{0,20}"
               #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine"
             class="alert alert-danger">
          <div [hidden]="!firstName.hasError('required')">Обязательное поле</div>
          <div [hidden]="!firstName.hasError('pattern')">Буквы, тире. Максимум 20</div>
        </div>
      </div>

      <div class="form-group">
        <label for="numberCard">Номер карты:</label>
        <input type="text" class="form-control" id="numberCard"
               required
               [(ngModel)]="newCreditCard.number" name="numberCard"
               pattern="[0-9]{16}"
               #numberCard="ngModel">
        <div [hidden]="numberCard.valid || numberCard.pristine"
             class="alert alert-danger">
          <div [hidden]="!numberCard.hasError('required')">Обязательное поле</div>
          <div [hidden]="!numberCard.hasError('pattern')">16 цифр</div>
        </div>
      </div>


      <div class="form-group">
        <label for="validUntil" class="col-form-label">Действительна до:</label>
        <div class="input-group">
          <input class="form-control" id="validUntil"
                 placeholder="yyyy-mm-dd"
                 required
                 [(ngModel)]="date" name="date"
                 ngbDatepicker
                 #d="ngbDatepicker"
                 (ngModelChange)="onChange(date)"
                 [minDate]="ngbValidUntil[0]"
                 (blur)="touchValidUntil()">
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <img src="../../assets/images/calendar-icon.svg"
                 style="width: 0.5rem; height: 0.5rem; cursor: pointer;"/>
          </button>
        </div>
        <div [hidden]="date != null || !touchedValidUntil" class="alert alert-danger">Обязательное поле</div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Отмена</button>
      <button type="submit" class="btn btn-primary"
              [disabled]="!createCard.form.valid">
        Создать
      </button>
    </div>
  </form>
</ng-template>
